body, html {
    margin: 0;
    padding: 0;
    color: #4A4A4A;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header {
    position: relative;
    z-index: 1;
    background-image: url(../images/mic.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100%;
    
    .headerText {
        color: #FFF;
        position: absolute;
        top: 25%;
        left: 10%;
        z-index: 2;
        
        p {
            width: 50%;
        }
    
    
        .toPlaylistButton, .toSubmitButton {
            color: #fff;
            padding: 1em 2em;
            border-radius: 10em;
            cursor: pointer;
        }

        .toPlaylistButton {
            background-color: #405BFF;
            border: 0;
        }

        .toSubmitButton {
            background-color: transparent;
            margin-left: 16px;
        }
    }

}


#ul li {
    display: none;
}

//.singlePlaylistContainer {
//    display: none;
//}
table {
    width: 100%;
}

table, th, td {
    border-bottom: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}


.tablePlaylist td {
    border-bottom: 1px solid #eee;
}

.singlePlaylistContainer {
    background-color: #eee;
    width: 100%;
    display: none;
}

.uploadContainer {
    width: 100%;
    
    .uploadContainerHeading {
        text-align: center;
    }
}

.addArtist, .addAlbum, .addTrack, .addPlaylist {
    padding: 16px;
    margin: auto;
    max-width: 400px;
    box-sizing: border-box;

    input[type=text] {
        width: 100%;
        padding: 16px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus {
        background-color: #ddd;
        outline: none;
    }
    
    label {
        font-size: 0.8em;
        text-transform: uppercase;
        
    }
    
    input[type=submit], #albumButton, #trackButton, #playlistButton  {
        color: #007884;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 4px;
        border: 1px solid #007884;
    }

}

.listContainer {
    width: 100%;
}

.playlistContainer {
    width: 80%;
    margin: auto;
    
    .showMorePlaylist {
        color: #405BFF;
        font-size: 1em;
        padding: 10px 25px;
        font-weight: 500;
        cursor: pointer;
        background: transparent;
        outline: none;
        border: 0;
    }

}

.albumContainer {
    width: 80%;
    margin: auto;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
   justify-content: space-between;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.albumCard {
    flex: 0 1 24%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 237px;
    margin-bottom: 20px; 
	padding-bottom: 30px;
    position: relative;
    
    a {
        font-weight: 500;
        margin: 12px 4px 0;
        padding-bottom: 12px;
        display: block;
    }
    
    span {
        text-transform: uppercase;
        color: #ADB2B5;
        font-size: 0.85em;
        font-weight: 500;
        display: block;
        border-bottom: 1px solid #eee;
        margin-left: 4px;
    }
    
    .showAlbumAction {
        font-weight: 500;
        font-size: 0.8em;
        border: 0;
        border-bottom: 1px solid #000;
        display: block;
        position: absolute;
        right: 8px;
        margin-top: 8px;
    }
}

.albumCardAction {
    padding: 8px;
    
    .deleteAlbum, .updateAlbum {
        margin: auto;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 4px;
    }
    

    
    .updateAlbum {
        color: #fff;
        background-color: #32AB86;
        
        &:hover {
            color: #fff;
            background-color: #1E765B;
        }
    }
    
    .deleteAlbum {
        color: #990000;
        border: 1px solid #990000;
        margin-left: 6px;
        
        &:hover {
            color: #fff;
            background-color: #990000;
        }
    }
    
    label {
        margin-top: 12px;
        display: block;
        font-size: 0.9em;
    }
    
    input[type=text] {
        width: 80%;
        padding: 12px;
        margin: 5px 0 10px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

    input[type=text]:focus {
        background-color: #ddd;
        outline: none;
    }
    
}

.coverAlbum {
    border-radius: 4px;
    width: 237px;
    height: 237px;
}